
@font-face {
    src: url("PressStart2P-Regular.ttf");
}




.btn-bas {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 11px;
    -fx-text-fill: white;
    -fx-background-image: url("image/bouton2.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-padding: 12 20 12 20;
    -fx-border-width: 0;
}




.btn-accueil {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 11px;
    -fx-text-fill: white;
    -fx-background-image: url("image/btn-accueil.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-padding: 12 20 12 20;
    -fx-border-width: 0;
}


.btn-normal {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 11px;
    -fx-text-fill: white;
    -fx-background-image: url("image/btn-comment_jouer.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-padding: 12 20 12 20;
    -fx-border-width: 0;
}

.panneau-tours .button {
    -fx-background-image: url("image/boutonTour.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.panneau-tours .button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-cursor: hand;
}